
body{
    background:linear-gradient(75deg, #C0C0C0, #ffb499);
    margin: 0px;
    font-family: "Open Sans", sans-serif;
  }
  #image{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
  }

  #container{
    display: flex;
    flex-flow: column wrap;
  }
  #main-body{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #header{
    width: 100%;
    position: fixed;
    background-color: hsl(240, 1%, 20%);
    color: #FFF;
    
    display: flex;  
    flex-wrap: wrap;
  